body {
    margin: 0;
    padding: 0;
}

@mixin buttons($curves) {
    background-color: rgba(67, 76, 204, 1);
    border: none;
    border-radius: $curves;
    color: white;
}

.mid-content {
    margin: auto;
    width: 1440px;
    height: 1248px;
    box-sizing: border-box;
    padding: 64px 135px 80px 135px;
    display: flex;
    flex-direction: column;
    background-color: rgba(67, 76, 204, 0.0515);

    .mid-content-map {
        width: 1170px;
        height: 640px;
        :hover{
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            transform:scale(1.01);
        }
    }

    .mid-content-infos {
        margin-top: 60px;
        width: 1170px;
        height: 404px;
        display: flex;
        justify-content: space-between;
    }

    .mid-content-infos h1 {
        margin: 0px;
    }
}

.messages-box {
    display: flex;
    flex-direction: column;

    width: 834px;

    h1 {

        color: var(--Text_Black, #000);

        /* H2 */
        font-family: DM Serif Display;
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        // line-height: 64px;
    }

    button {
        margin-top: 28px;
        width: 170px;
        height: 48px;
        @include buttons(5px);
        color: #FFF;
        text-align: center;
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        /* 150% */
    }

    button:hover {
        background-color: rgb(33, 39, 131);
        transform: scale(1.1);
        cursor: pointer;
    }

    .personal-info {
        display: flex;
    }

    .name {
        margin-top: 28px;
        width: 401px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 5px;
        border: 1px solid #DADADA;
        background: #FFF;
    }

    .email {
        margin: 28px 0px 0px 28px;
        width: 401px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 5px;
        border: 1px solid #DADADA;
        background: #FFF;
    }

    .typemsg {
        width: 834px;
        height: 144px;
        margin-top: 28px;
        flex-shrink: 0;
        border-radius: 5px;
        border: 1px solid #DADADA;
        background: #FFF;
    }

}



.infos-box {
    margin-left: 66px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 335px;

    div {
        display: flex;
    }

    :nth-child(2) {
        p {
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
            margin: 0px;
            /* Text_Gray */
            font-family: DM Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
            margin-left: 22px;
        }
    }

    :nth-child(3) {
        p {
            color: var(--Text_Black, #000);
            margin: 0px;
            /* Text_Big */
            font-family: DM Sans;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            /* 160% */
            margin-left: 22px;
        }
    }

    :nth-child(4) {
        p {
            color: var(--Text_Black, #000);
            margin: 0px;
            /* Text */
            font-family: DM Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            /* 150% */
            margin-left: 22px;
        }
    }

    :nth-child(5) {
        gap: 8px;
    }

    h1 {
        color: var(--Text_Black, #000);

        /* H2 */
        font-family: DM Serif Display;
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 64px;
        /* 114.286% */
    }

}

.social-logos>button {
    width: 48px;
    height: 48px;
    @include buttons(5px);
}
.social-logos>button:hover{
    transform:scale(1.1);
    background-color: rgb(33, 39, 131);
}
@media all and (max-width:376px) {
    .mid-content {
        max-width: 375px;
        padding: 16px 14px 0px 14px;

        .mid-content-map {
            width: 347px;
            height: 190px;

        }

        .mid-content-infos {
            margin: auto;
            margin-top: 44px;
            width: 347px;
            height: 998px;
            display: flex;
            flex-direction: column;

            .messages-box {
                width: 100%;
            }

            .infos-box {
                margin-top: 76px;
                width: 100%;
                height: 404px;
                margin-left: 0px;
            }
        }

        .messages-box input {
            width: 100%;
            margin-left: 0px;
            display: block;
        }

        .personal-info {
            flex-direction: column;
        }

    }
}