$color: var(--Text_White, #FFF);
$font-family: DM Serif Display;
$font-style: normal;
$font-weight: 400;

* {
    margin: 0;
}

@mixin header {
    width: 1440px;
    flex-shrink: 0;
    display: flex;
    background: #434CCC;
}

.header1 {
    @include header;
    height: 80px;
    box-sizing: border-box;
    padding-left: 135px;
    padding-right: 135px;
    justify-content: space-between;

    div {
        display: flex;
        margin-top: 28px;
        margin-left: 534px;
        margin-right: 40px;
        width: 324px;
        height: 24px;
        justify-content: space-between;
    }

    a {
        color: var(--Text_White, #FFF);
        text-align: right;
        text-decoration: none;

        /* Text */
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        /* 150% */
    }

    h3 {
        margin-top: 16px;
        color: $color;
        /* H3 */
        font-family: $font-family;
        font-size: 40px;
        font-style: $font-style;
        font-weight: $font-weight;
        line-height: 48px;
        /* 120% */
    }

    button {
        margin-top: 16px;
        width: 170px;
        height: 48px;
        flex-shrink: 0;
        border-color: rgba(255, 255, 255, 0.3);
        background-color: transparent;
        border-radius: 5px;
        // text
        color: #FFF;
        text-align: center;
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        /* 150% */

    }
}

.header2 {
    @include header;
    height: 224px;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-top: 47px;
        color: var(--Text_White, #FFF);
        text-align: center;
        /* H1 */
        font-family: $font-family;
        font-size: 72px;
        font-style: $font-style;
        font-weight: $font-weight;
        line-height: 80px;
        /* 111.111% */
    }

    p {
        margin-top: 10px;
        color: var(--Text_White, #FFF);
        text-align: center;

        /* Text_Big */
        font-family: DM Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        /* 160% */
    }
}