
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-grid2-section-2 {
    background-color: #FFDD78;
    color: black;
    height: 352px;
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: auto;
    // align-items: stretch;

    #main1-grid-section-2 {

        display: grid;
        gap: 30px;
        justify-content: center;

        h5 {

            // padding-top: 50px;
            // padding-left: 135px;
            // height: 24px;
            width: 107px;
            font-family: DM Sans;
            font-size: 16px;
            font-weight: 400;

            letter-spacing: 5px;
            color: #000000;

        }

        h2 {

            // height: 128px;
            width: 516px;
            display: flex;
            font-family: DM Serif Display;
            font-size: 56px;
            // line-height: 64px;
        }
    }

    #main2-grid-section-2 {

        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;

        input {
            width: 370px;
            height: 48px;
            border: none;
            outline: none;
            font-size: 20px;
            padding-left: 10px;

            // padding-left: 135px;
            // padding-top: 90px;
            &::placeholder {
                font-size: 20px;
                padding-left: 10px;

            }

        }

        button {
            background-color: #434CCC;
            color: white;
            width: 170px;
            height: 48px;
            border-radius: 10px;
            border: none;
            text-align: center;
            font-size: 20px;
            cursor: pointer;

            &:hover {
                background-color: #0f1de5;

            }
        }

    }
}

$color: var(--Text_White, #FFF);
$font-family: DM Serif Display;
$font-style: normal;
$font-weight: 400;

@mixin header {
   width: 1440px;
    flex-shrink: 0;
    display: flex;
    background: #434CCC;
}

.header1 {
    @include header;
    height: 80px;
    box-sizing: border-box;
    padding-left: 135px;
    padding-right: 135px;
    justify-content: space-between;
    // margin: auto;

    .navbar {
        display: flex;
        margin-top: 28px;
        margin-left: 534px;
        margin-right: 40px;
        width: 324px;
        height: 24px;
        justify-content: space-between;
    }

    a {
        color: var(--Text_White, #FFF);
        text-align: right;
        text-decoration: none;

        /* Text */
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        /* 150% */
    }
    a:hover{
        transform:scale(1.2);
        cursor: pointer;
    }
    h3 {
        margin-top: 16px;
        color: $color;
        /* H3 */
        font-family: $font-family;
        font-size: 40px;
        font-style: $font-style;
        font-weight: $font-weight;
        line-height: 48px;
        /* 120% */
    }

    button {
        margin-top: 16px;
        width: 170px;
        height: 48px;
        flex-shrink: 0;
        border-color: rgba(255, 255, 255, 0.3);
        background-color: transparent;
        border-radius: 5px;
        // text
        color: #FFF;
        text-align: center;
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
    }
    button:hover{
        transform:scale(1.1);
        cursor: pointer;
    }
    svg{
        display: none;
    }
}

.header2 {
    @include header;
    height: 224px;
    flex-direction: column;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
    h1 {
        margin-top: 47px;
        color: var(--Text_White, #FFF);
        text-align: center;
        /* H1 */
        font-family: $font-family;
        font-size: 72px;
        font-style: $font-style;
        font-weight: $font-weight;
        line-height: 80px;
        /* 111.111% */
    }

    p {
        margin-top: 10px;
        color: var(--Text_White, #FFF);
        text-align: center;

        /* Text_Big */
        font-family: DM Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        /* 160% */
    }
}

@media all and (max-width:376px) {
    .header1 {
        padding: 0;
        max-width: 375px;

        .navbar,
        button {
            display: none;
        }

        h3 {
            color: #FFF;
            font-size: 24px;
            line-height: 32px;
            margin-left: 14px;
        }
        svg{
            display: block;
            margin-top: 24px;
            margin-right:26px;
        }

    }

    .header2 {
        padding: 0;
        max-width: 375px;

        h1{
            font-size: 56px;
            line-height: 64px;
        }

        p{
            font-size: 20px;
            line-height: 32px;
        }
    }
}

// for removing the default stylings
*{
    margin: 0;
    padding: 0;
}



.div{
background-color: red;
color: blue;
}


// second section vishnuraj scss start



@mixin smallgrids_p($wd,$hei,$fs,$fw,$col){
    
    width: $wd;
    height: $hei;
    font-size: $fs;
    font-weight: $fw;
    color: $col;
    padding-top: 12%;
}
@mixin smallgrid_h1($wd,$hei,$fs,$lh,$col){
    width: $wd;
    height: $hei;
    font-size: $fs;
    line-height: $lh;      
    color:$col ;
    margin-top: 25px;
    margin-bottom: 28px;
}
@mixin smallgrid_b($col,$bgc,$bor,$br,$fs,$wd,$hei){
    color: $col;
    background-color: $bgc;
    border:$bor;
    
    border-radius: $br;
    font-size: $fs;
    width: $wd;
    height: $hei;
}
.second-section-main{
    max-width: 1440px;
    margin:auto;
    height: auto;
    // background-color: rgb(16, 196, 82);
    padding: 0 9.375%;
    .second-section-main1{
        width: 100%;
        height: 100px;
        // background-color: aqua;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-family: sans-serif;
        h4{
            width: 92px;
            height: 24px;
            margin:0 20px;
            
        }
        div{
            width: 403px;
            height: 24px;
            display: flex;
            justify-content: space-evenly;
            
            
            color: grey;
            p{
                padding-right: 10px;
            }
        }
        // p{
        //     display: flex;
        //     color: grey;
        //     padding-right: 20px;
        //     font-size: 16px;
        // }
    }
    .second-section-main2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        gap: 30px;
        .section-section-grid1{
            grid-area: 1/1/2/3;
            height: 512px;
            background-position-x: right;
            background-image: url("images/img 1.png");
            border-radius: 5px;
            
            padding-left: 10%;
            
            p{
                
                width: 78px;
                height: 24px;
                font-size: 16px;
                font-weight: 400;
                color: #f8da82;
                padding-top: 12%;
            }
            h1{
                
                width: 370px;
                height: 128px;
                font-size: 56px;
                line-height: 64px;      
                color:#ffffff ;
                margin-top: 25px;
                margin-bottom: 28px;
            }
            button{
                color: white;
                background-color: #f1b505;
                border: 1px solid #f8da82;
                border-radius: 8px;
                width: 170px;
                height: 48px;
            }
            
        }
        // small divs
        .section-section-grid2{
            height: 512px;
            
            background-image: url("images/img 2.png");
            // background-position-x: right;
            padding-left: 10%;
            background-size: cover;
            border-radius: 5px;
            p{
                @include smallgrids_p(67px,24px,16px,400,#f0807e) ;
                
            }
            h1{
                @include smallgrid_h1(161px,96px,24px,32px,white) ;
                
            }
            button{
                @include smallgrid_b(white,#e94a47,1px solid #f0807e,8px,20px,48px,48px);
                
            }
        }
        .section-section-grid3{
            height: 512px;
            
            background-image: url("images/img 3.png");
            // background-position-x: right;
            padding-left: 10%;
            background-size: cover;
            border-radius: 5px;
            p{
                @include smallgrids_p(71px,24px,16px,400,#a0c6fe) ;
                
            }
            h1{
                @include smallgrid_h1(161px,96px,24px,32px,#ffffff ) ;
                
            }
            button{
                @include smallgrid_b(white,#428dfc,1px solid #a0c6fe,8px,20px,48px,48px);
                
            }
        }
        .section-section-grid4{
            height: 512px;
            border-radius: 5px;
            background-image: url("images/img 4.png");
            // background-position-x: right;
            padding-left: 10%;
            background-size: cover;
            p{
                @include smallgrids_p(60px,24px,16px,400,#f8da82) ;
                
            }
            h1{
                @include smallgrid_h1(111px,96px,24px,32px,#ffffff ) ;
                
            }
            button{
                @include smallgrid_b(white,#f1b505,1px solid #f8da82,8px,20px,48px,48px);
                
            }
        }
        .section-section-grid5{
            height: 512px;
            border-radius: 5px;
            background-image: url("images/img 5.png");
            // background-position-x: right;
            padding-left: 10%;
            background-size: cover;
            p{
                @include smallgrids_p(79px,24px,16px,400,#a1a6e6) ;
                
            }
            h1{
                @include smallgrid_h1(129px,96px,24px,32px,#ffffff ) ;
                
            }
            button{
                @include smallgrid_b(white,#434ccc,1px solid #a1a6e6,8px,20px,48px,48px);
                
            }
        }

    }
    .second-section-main3{
        width: 100%;
        height: 100px;
        
        display: flex;
        align-items: center;
        justify-content: center;
        button{
            width:48px ;
            height: 48px;
            border: 1px solid #bcc0ed;
            border-radius: 5px;
            color: #434ccc;
            font-size:16px ;
            font-weight: 700;
            margin-left: 10px;

            
            
        }
        
    }
}
@media screen  and (max-width:375px) {
    
    // .second-section-main1{
        
    //     h4{
    //         left: 0;
    //     }
    //     div{


    //         p{
    //             padding-right: 10px;
    //         }
    //     }
    // }
    // .section-section-grid1{
    //     display: none;
    // }
    .second-section-main2{
        grid-template-columns:repeat(1,1fr);
        grid-template-rows: auto;
        
        
    }
    
}

// second section vishnuraj scss end

// footer by Deepak
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}
h4,p,h5{
    margin: 0;
    padding: 0;
}
 
footer{
    max-width: 1440px;
    height: 319px;
    background-color: rgb(245,246,252);
    padding: 0px 135px ;
    margin: auto;
    
    &>.footer-container {
        padding-top: 79px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;

        &>div{
            flex-grow: 1;
        }
    }
    li:hover{
        color: #000;
        transition: 0.3s;
    }
}

#footer-top-logo{
    flex-basis: 33.32%;
    display: flex;
    flex-direction: column;

    h4{
        margin-top: -7px;
        margin-bottom: 23px;
        color: #000;
        font-family: "DM Serif Display";
        font-size: 24px;
        font-weight: bolder;
        line-height: 32px; 

        &+ div{
            width: 270px;
            height: 79px;
            flex-shrink: 0;
            margin-bottom: 16px;
            font-family: "DM Sans";
            color: rgba(0, 0, 0, 0.5);
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;   
        }
    }
    
    #social{
        display: flex;
        flex-shrink: 0;
        
        &>img:nth-child(1){
            width: 9px;
            height: 18px;
            flex-shrink: 0;
            margin-right: 13px;
        }
        &>img:nth-child(2){
            width: 18px;
            height: 15px;
            flex-shrink: 0;
            margin-right: 10px;
        }
        &>img:nth-child(3){
            width: 18px;
            height: 18px;
            flex-shrink: 0;
        }
    }
    img:hover{
        color: #000;
    }
}

#causae{
    flex-basis: 16.66%;
}

#aperiri{
    flex-basis: 16.66%;
}
.foot-h4{
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    margin-bottom: 24px;
}

.foot-ul{
    padding: 0;
    margin: 0;

    &>li{
        list-style: none;
        margin-bottom: 8px;
        color: rgba(0, 0, 0, 0.50);
        font-family: "DM Sans";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}
#latestPosts{
    flex-basis: 33.32%;
    display: flex;
    flex-direction: column;
    gap:39px;
}
.footer-post{
    display: flex;
    gap: 30px;   
}

.post-description{
    div{
        color: rgba(0, 0, 0, 0.50);
        font-family: "DM Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; 
    }
    p{
        color: #000;
        font-family: "DM Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; 
    }
}

.footer-img{
    width: 71px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 6px;
}

#footer-line{
    height:81px;
    max-width: 1440px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgb(245,246,252);
    padding: 0 135px;
    margin: auto;
    
    &>.footer-line-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 27px ;
        justify-content: space-between;

        .p1 , .p2{
            color: rgba(0, 0, 0, 0.50);
            font-family: "DM Sans";
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }
    } 
}

@media all and (min-width:660px) and (max-width:1079px) {
    footer-top-logo{
        h4{
            &+ div{
                width: 480px;
            }
        }
    }
    footer {
      height: 500px;
      
    }
    #latestPosts {
      margin-top: 32px;
    }
  }
  @media all and (min-width:367px) and (max-width: 675px) {
    #footer-top-logo{
        h4{
            &+ div{
                width: 346px;
            }
        }
    }
    footer {
      height: 783px;
      padding: 0px 15px 0px 14px;

      &>.footer-container {
        gap: 72px;
        }
    }
    #footer-line{
        height:112px;
        padding: 0px 15px 0px 14px; 
    }
}
@media all and (max-width: 366px){
    footer {
        height: 844px;
    }
}



